<footer class="footer-bg py-64 py-sm-32">
  <div class="container">
    <nav class="mb-24 footer-nav">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/logo.svg"
        alt="logo"
        class="mb-sm-8"
      />
      <div class="ml-auto ml-sm-12">
        <ul class="d-flex d-sm-block">
          <li class="mr-40 py-12 mb-sm-4">
            <a
              href="product.html"
              class="fw-500 text-primay btn-hover-primary-500"
              >商品列表</a
            >
          </li>
          <li class="py-12">
            <a
              href="story.html"
              class="fw-500 text-primay btn-hover-primary-500"
              >品牌故事</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="text-align-center pt-32 border-top-neutral">
      <p class="fz-14 mb-4 text-secondary">Copyright ©2025 URBNSTYLE</p>
      <p class="fz-14 text-secondary">All Rights Reserved.</p>
    </div>
  </div>
</footer>
