<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="all.css" />
    <title>登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="container">
        <div class="row py-64 py-sm-0">
          <div class="col-5 col-sm-12 no-padding-col-sm-12">
            <div class="register-img"></div>
          </div>
          <div class="col-7 col-sm-12">
            <div class="register-bg">
              <p class="h3 h-sm4 fw-700 mb-32 text-align-center">歡迎！</p>
              <ul class="d-flex text-align-center mb-32">
                <li class="w-50">
                  <a
                    href="login.html"
                    class="d-b py-12 h6 fw-700 text-secondary register-border-bottom-neutral-9"
                    >登入</a
                  >
                </li>
                <li class="w-50">
                  <a
                    href="register.html"
                    class="d-b py-12 h6 fw-700 text-primay register-border-bottom-neutral-3"
                    >註冊</a
                  >
                </li>
              </ul>
              <ul>
                <li class="bg-white border-neutral radius-sm mb-8">
                  <a href="#" class="d-flex align-center p-12">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/facebook.svg"
                      alt="facebook"
                      class="mr-12"
                    />
                    <p class="text-primay">Facebook 登入</p>
                  </a>
                </li>
                <li class="bg-white border-neutral radius-sm mb-8">
                  <a href="#" class="d-flex align-center p-12">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/apple.svg"
                      alt="apple"
                      class="mr-12"
                    />
                    <p class="text-primay">Apple 登入</p>
                  </a>
                </li>
                <li class="bg-white border-neutral radius-sm">
                  <a href="#" class="d-flex align-center p-12">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/google.svg"
                      alt="google"
                      class="mr-12"
                    />
                    <p class="text-primay">Google 登入</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
